
/* ------------------------------------------------------- */
/* Fonts */
/* ------------------------------------------------------- */

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Light.woff2') format('woff2'),
        url('fonts/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('fonts/Gotham-Book.woff2') format('woff2'),
        url('fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Medium.woff2') format('woff2'),
        url('fonts/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/* ------------------------------------------------------- */
/* Global Styles */
/* ------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  font-family: 'Gotham', sans-serif;
  /* scroll-behavior: smooth; */
}

::-moz-selection { /* Code for Firefox */
  color: #8e8e8e;
  background: none;
}

::selection {
  color: #8e8e8e;
  background: none;
}

a {
  text-decoration: none;
  color: #fff;
}

h3 {
  margin: 0 auto;
  font-size: 1.2em;
}

img {
  width: 100%;
  opacity: 1;
  transition: opacity 1s;
}

ul {
  list-style-type: none;
  color: gray;
  line-height: 2em;
  text-align: center;
  margin-top: 20px;
}

/* Wow.js init */
.wow {
  visibility: hidden;
}

/* ------------------------------------------------------- */
/* Navigation Bar */
/* ------------------------------------------------------- */

.navbar {
  width: 64px;
  /* See how this looks like on a bigger screen */
  /* width: 4.444vw; */
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  left: 0;
  z-index: 100;
}

.logo {
  color: #191919;
  height: 196px;
  margin: 32px auto 0 auto;
  opacity: 1;
  transition: opacity 0.4s;
  cursor: pointer;
}

.menu {
  margin-top: 32px !important;
  cursor: pointer;
}

.icons {
  height: 24px;
  opacity: 1;
  transition: opacity 0.4s;
  margin: 12px auto;
}

.socialIcons {
  bottom: 0;
  position: absolute;
}

.at {
  margin-bottom: 32px;
}

.icons:hover, .logo:hover{
  opacity: 0.5;
  transition: opacity 0.3s;
}

/* ------------------------------------------------------- */
/* Landing Section */
/* ------------------------------------------------------- */

.hero {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.hero > * {
  position: absolute;
}

.info {
  top: 12vh;
  left: 12vw;
  margin-left: auto;
  display: block;
  font-weight: 300;
}

.info > * {
  text-align: left;
  font-weight: 300;
  color: #ffffff;
}

.bio {
  display: block;
  font-size: 1.3em;
  line-height: 1.8em;
  margin-top: 16px;
}

h1 {
  display: block;
  font-size: 2.2em;
  font-weight: 300;
  color: #fff;
}

.contact {
  /* display: inline-block; */
  right: 12vw;
  top: 12.5vh;
  border: 2px solid #fff;
  padding: 10px 20px;
  letter-spacing: 2px;
  font-size: 1em;
  font-family: 'Gotham Book';
  font-weight: normal;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.5s;
}

.contact:hover {
  background-color: rgba(255, 255, 255, 0.25);
  transition: background-color 0.5s;
}

/* ------------------------------------------------------- */
/* About */
/* ------------------------------------------------------- */

.about {
  background-color: #191919;
  height: 102vh;
  width: 100vw;
  color: #fff;
}

.section-title {
  top: 18vh;
  left: 12vw;
  font-weight: 300;
  font-size: 24px;
  position: relative;
  display: inline-block;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #B2B2B2;
}

.about_content {
  left: 12vw;
  position: relative;
  top: 28vh;
  width: 700px;
  font-family: 'Gotham';
  font-weight: 300;
  font-size: 18px;
  line-height: 180%;
}

.about_cta {
  left: 12vw;
  position: relative;
  display: inline-block;
  top: 36vh;
  font-size: 18px;
}

.about_cta > a {
  color: #b2b2b2;
  font-family: 'Gotham Book';
  font-weight: normal;
  transition: color 0.4s;
}

.about_cta > a:hover {
  color: inherit;
  transition: color 0.4s;
}

/* ------------------------------------------------------- */
/* Capabilities */
/* ------------------------------------------------------- */

.capabilities {
  line-height: 1em;
  font-weight: 500;
  height: 300vh;
  background-color: #ffffff;
}

.capabilities > h2 {
  top: 120px;
  position: relative;
  color: #fff;
  font-weight: 300;
}

.capabilities > p {
  color: gray;
  top: 140px;
  position: relative;
  margin-bottom: 100px;
  font-size: 1em;
}

.capabilities > h3 {
  font-weight: 400;
}

.strategy-design-tech {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  width: 75%;
  padding: 10px;
}

 .strategy > img, .design > img, .technology > img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 60px;
  padding-bottom: 30px;
}

.strategy {
  grid-column-start: 1;
  margin: 0 auto;
}

.design {
  grid-column-start: 2;
  margin: 0 auto;
}

.technology {
  grid-column-start: 3;
  margin: 0 auto;
}
.contact-us {
  color: #000;
  transition: 1s;
}

.contact-us:hover {
  color: gray;
  transition: 0.5s;
}

.services_footer {
  grid-column-start: 1;
  grid-column-end: 4;
}

.services_footer > a {
  text-transform: none;
  color: black;
}

.services_footer > p {
  text-align: center;
  margin: 50px 0 120px;
  color: gray;
}

/* ------------------------------------------------------- */
/* Clients */
/* ------------------------------------------------------- */

.clients {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 70px;
  max-width: 90vw;
}

.clients > p {
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 20px;
}

.client-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.client {
  margin: 0 10px;;
  height: 100px;
  position:relative;
}

.client > img {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 1;
  cursor: pointer;
  transition: 0.5s;
  padding-bottom: 30px;
  /* filter: grayscale(100%)	contrast(200%) brightness(0); */
}

.client > img:hover {
  filter: grayscale(100%)	contrast(0%) brightness(100%);
  transition: 0.5s;
}

/* ------------------------------------------------------- */
/* Quick Note */
/* ------------------------------------------------------- */

.quicknote {
  height: 100vh;
  background-color: #191919;
}

/* ------------------------------------------------------- */
/* Footer */
/* ------------------------------------------------------- */

footer {
  background-color: #1B1C1C;
  height: 25vh;
  padding-top: 75px;
  position: relative;
  display: flex;
}

.copyright {
  color: gray;
  left: 12vw;
  top: 8vh;
  font-size: 12px;
  position: absolute;
}

.social-icons {
  position: absolute;
  top: 6vh;
  right: 12vw;;
}

.social-icons > li {
  display: inline-block;
  margin: 0 5px;
  width: 16px;
}

li > a > img {
  width: 100%;
  opacity: 1;
  transition: opacity 1s;
}

li > a > img:hover {
  opacity: 0.5;
  transition: opacity 1s;
}

/* ------------------------------------------------------- */
/* Media Query */
/* ------------------------------------------------------- */

@media screen and (max-width: 768px) {
  .hero {
    width: 100vw;
    height: 52.5vh;
  }

  .title {
    font-size: 1.5em;
    left: 7vw;
  }

  .contact {
    font-size: 0.7em;
    padding: 7px 12px;
    right: 7vw;
  }

  .info {
    top: 20vh;
    left: 7vw;
  }

  .info > h1 {
    font-size: 2em;
  }

  .bio {
    font-size: 1.1em;
  }

  .capabilities {
    margin: 80px auto 0 auto;
  }

  .capabilities > p {
    padding: 0px 30px;
    line-height: 1.8;
    margin-bottom: 50px;
  }

  .strategy-design-tech {
    grid-template-columns: 1fr;
    grid-template-rows: 3;
  }

  .strategy {
    grid-column-start: 1;
    margin: 0 auto;
    padding-bottom: 40px;
    font-size: 0.8em;
  }

  .design {
    grid-column-start: 1;
    margin: 0 auto;
    padding-bottom: 40px;
    font-size: 0.8em;
  }

  .technology {
    grid-column-start: 1;
    margin: 0 auto;
    padding-bottom: 40px;
    font-size: 0.8em;
  }

  .services_footer > p {
    padding: 0px 30px;
    line-height: 1.8;
    font-size: 0.8em;
    margin: 50px 0 80px;
  }

  .case_info {
    font-size: 0.8em;
  }

  .case_studies {
    padding-top: 60px;
  }

  .case_studies > h2 {
    font-size: 1.3em;
  }

  .cases {
    grid-template-columns: 1fr;
  }

  .case_1 {
    grid-column-start: 1;
  }

  .case_2 {
    grid-column-start: 1;
  }

  .see_more {
    border-bottom: 0;
    margin: 50px 20px 100px;
  }

  .small_text {
    padding-bottom: 40px;
  }

  .client-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2;
  }

  .client {
    padding: 30px 0px;
  }

  .new-project {
    height: 27vh;
    padding-bottom: 40px;
  }

  .center {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .start-new-project {
    font-size: 1.3em;
    font-size: 1.2em;
    padding-bottom: 15px;
    position: static;
    text-align: center;
  }

  .new-project-info {
    top: 15vh;
    font-size: 0.9em;
    position: static;
    text-align: center;
    padding: 0 20px 40px 20px;
  }

  button {
    position: static;
  }

  .btn {
    text-align: center;
  }

  footer {
    height: 5vh;
    position: relative;
  }

  .copyright {
    top: 50%;
  }

  .social-icons {
    top: 4vh;
  }
}
